---
const { post = {}, author = {}, url } = Astro.props;
---

<a
  href={url}
  class="relative block p-8 overflow-hidden border border-gray-100 rounded-lg group"
  href=""
>
  <span
    class="w-0 group-hover:w-full absolute inset-x-0 bottom-0 h-2 bg-gradient-to-r duration-200 from-green-300 via-blue-500 to-purple-600"
  ></span>

  <div class="justify-between sm:flex">
    <div>
      <h5 class="text-xl font-bold text-gray-900">
        {post.title}
      </h5>
      <p class="mt-1 text-xs font-medium text-gray-600">By {author.name}</p>
    </div>

    <div class="flex-shrink-0 hidden ml-3 sm:block">
      <img class="object-cover w-16 h-16 rounded-lg shadow-sm" src={author.picture} alt="" />
    </div>
  </div>

  <div class="mt-4 sm:pr-8">
    <p class="text-sm text-gray-500">
      {post.description}
    </p>
  </div>

  <dl class="flex mt-6">
    <div class="flex flex-col">
      <dt class="text-sm font-medium text-gray-600">Published</dt>
      <dd class="text-xs text-gray-500">{post.published_at}</dd>
    </div>

    <div class="flex flex-col ml-3 sm:ml-6">
      <dt class="text-sm font-medium text-gray-600">Reading time</dt>
      <dd class="text-xs text-gray-500">{post.reading_time}</dd>
    </div>
  </dl>
</a>
